@charset "utf-8";
/*---------------------------*/
/* 總框架設定           */
/*---------------------------*/
div.container{
    width:100%;
    margin:0px auto 0px auto;
    background:#fff;
    box-shadow:0px 0px 10px 0px #000;
}
/*---------------------------*/
/* header設定           */
/*---------------------------*/
div.header{
    height:100px;
    background:#999;
}
/*---------------------------*/
/* 編排<導覽列>區塊            */
/*---------------------------*/
div.navbar{
    height:40px;
    line-height:40px;
    background:#222;
}

div.navbar a{
    text-decoration:none;
    color:#fff;
}

div.navbar ul{
    margin:0;
    padding:0;
    list-style-type:none;
}

div.navbar ul li{
    width:33%;
    text-align:center;
    float:left;
}

div.navbar ul a:hover{
    color:#ccc;
}
/*---------------------------*/
/*文字設定            */
/*---------------------------*/
p.PlanYourself{
    font-size: 24px;
    margin-bottom:80px;
}
p.logout{
    font-size: 24px;
    margin-left: 95%;
    margin-top: -20px;
}
form.search{
    font-size:24px;
    margin-left:50%;
    margin-top:-112px;
}